body {
    --faint_neutral_accent: #2a2431;
    --strong_neutral_accent: #999da2;
    --bright_accent_1:rgb(67 68 81); 
    /* --bright_accent_2: rgb(87 82 143); */
    --bright_accent_2: rgb(82 143 130);
    --body_text: #ededed;
    --form_text_color: var(--body_text);
    --form_body_color: #251f2b;
    --body_background: #121212;
    --error_color: #a51b2e;

}

.checkboxselect .body .option.selected .checkbox {
    background-image: url(icons_dark/check.svg);
}

:is(a, label).icon.link {
    background-image: url(icons_dark/new-window.svg);
}

:is(a, label).icon.settings {
    background-image: url(icons_dark/menu.svg);
}

:is(a, label).icon.delete {
    background-image: url(icons_dark/xmark.svg);
}

:is(a, label).icon.delete.alt {
    background-image: url(icons_dark/trash.svg);
}

:is(a, label).icon.download {
    background-image: url(icons_dark/download.svg);
}

:is(a, label).icon.upload {
    background-image: url(icons_dark/upload.svg);
}

:is(a, label).icon.save {
    background-image: url(icons_dark/floppy-disk.svg);
}

:is(a, label).icon.expand {
    background-image: url(icons_dark/arrow-down.svg);
}

:is(a, label).icon.collapse {
    background-image: url(icons_dark/arrow-up.svg);
}

:is(a, label).icon.expand.alt {
    background-image: url(icons_dark/single-arrow-right.svg);
}

:is(a, label).icon.collapse.alt {
    background-image: url(icons_dark/single-arrow-down.svg);
}


:is(a, label).icon.down {
    background-image: url(icons_dark/arrow-down-square.svg);
}

:is(a, label).icon.up {
    background-image: url(icons_dark/arrow-up-square.svg);
}

:is(a, label).icon.new.alt {
    background-image: url(icons_dark/plus-square.svg);
}

:is(a, label).icon.new {
    background-image: url(icons_dark/plus.svg);
}

:is(a, label).icon.edit {
    background-image: url(icons_dark/pencil.svg);
}