body {
    --faint_neutral_accent: #ededed;
    --form_text_color: #171717;
    --strong_neutral_accent: #767676;
    --bright_accent_1:#c2d3ef; 
    --bright_accent_2: #78a8f5;
    --body_text: #171717;
    --form_body_color: #ffffff;
    --body_background: #ffffff;
    --error_color: #a51b2e;
}

.checkboxselect .body .option.selected .checkbox {
    background-image: url(icons_light/check.svg);
}

:is(a, label).icon.settings {
    background-image: url(icons_light/menu.svg);
}

:is(a, label).icon.delete {
    background-image: url(icons_light/xmark.svg);
}

:is(a, label).icon.delete.alt {
    background-image: url(icons_light/trash.svg);
}

:is(a, label).icon.download {
    background-image: url(icons_light/download.svg);
}

:is(a, label).icon.upload {
    background-image: url(icons_light/upload.svg);
}

:is(a, label).icon.save {
    background-image: url(icons_light/floppy-disk.svg);
}

:is(a, label).icon.expand {
    background-image: url(icons_light/arrow-down.svg);
}

:is(a, label).icon.collapse {
    background-image: url(icons_light/arrow-up.svg);
}

:is(a, label).icon.link {
    background-image: url(icons_light/new-window.svg);
}

:is(a, label).icon.expand.alt {
    background-image: url(icons_light/single-arrow-right.svg);
}

:is(a, label).icon.collapse.alt {
    background-image: url(icons_light/single-arrow-down.svg);
}


:is(a, label).icon.down {
    background-image: url(icons_light/arrow-down-square.svg);
}

:is(a, label).icon.up {
    background-image: url(icons_light/arrow-up-square.svg);
}

:is(a, label).icon.new.alt {
    background-image: url(icons_light/plus-square.svg);
}

:is(a, label).icon.new {
    background-image: url(icons_light/plus.svg);
}

:is(a, label).icon.edit {
    background-image: url(icons_light/pencil.svg);
}